#board {
    position: relative;
    background-color: rgba(165, 42, 42, 0.322);
    outline: 1px solid orange;
    height: 80vh;
    width: 80vh;
    margin-left: 50vh;
    margin-top: 10vh;
    background-image: url(../images/zombie-background.jpg);
}
body {
    font: red;
    background-color: black;
    background-position: stretch;
}

.player {
  position: absolute;
  background-color: rgba(94, 32, 145, 0.842);  
}

.obstacle {
    position: absolute;
    background-color: rgba(145, 45, 32, 0.842);  
}

#life {
 font-size: 50px;
 text-align: center;
 font: red;
}