#board {
    position: relative;
    background-color: rgba(165, 42, 42, 0.322);
    outline: 1px solid orange;
    height: 80vh;
    width: 80vh;
    margin-left: 50vh;
    margin-top: 10vh;
    
}

.player {
  position: absolute;
  background-color: rgba(94, 32, 145, 0.842);  
  height: 2vh;
  width: 1.5vw;
  border-radius: 50%
}